/* Change AE Photo into a circle one */
.AE-Photo {
    height:         160px;
    width:          160px;
    border-radius:  100%;
    overflow: hidden;
}

/* Change circle Bar's color into green -- Available state */
.greenBar {
    --ni-fill-background: #3ab878;
}

/* Change circle Bar's color into red -- Talking state */
.redBar {
    --ni-fill-background: #EE1C25;
}

/* Change circle Bar's color into yellow -- Away state */
.yellowBar {
    --ni-fill-background: #fff568;
}

/* change Card's Background */
.card {
    background: red;
    border: none;
}

/* change the bar */
.bar {
    --ni-fill-background: red;
}